nifi/FHIRInputFromCSV.json
{"flowContents":{"identifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","instanceIdentifier":"73b97bfc-019a-1000-44e5-89dc531051b0","name":"FHIRInputFromCSV","comments":"","position":{"x":0.0,"y":-568.0},"processGroups":[{"identifier":"0e374df2-e24f-3647-a408-11425c581580","instanceIdentifier":"73472c52-019a-1000-8ea1-41de47ff1a82","name":"ObservationsFromCSV","comments":"","position":{"x":664.0,"y":32.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"39a91f47-126d-3604-9106-ac9ea089f623","instanceIdentifier":"70c6b3f2-019a-1000-79dc-0a0bf8c5fc5f","name":"UpdateAttribute","comments":"","position":{"x":-120.0,"y":-800.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"subject_ref":"Patient/${patient_id}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","patient_id":"${id_raw:toString()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"subject_ref":{"name":"subject_ref","displayName":"subject_ref","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"patient_id":{"name":"patient_id","displayName":"patient_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"},{"identifier":"3a89c0c9-62b1-34e0-acd0-89595fa263f2","instanceIdentifier":"70155633-019a-1000-b781-db7e44b83ed2","name":"RouteOnAttribute","comments":"","position":{"x":-120.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Routing Strategy":"Route to Property name","has_obs":"${observacao:trim():isEmpty():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"has_obs":{"name":"has_obs","displayName":"has_obs","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"},{"identifier":"4172c5f2-7db5-3fec-a180-792912d76487","instanceIdentifier":"7017be6c-019a-1000-9111-536a0f97670c","name":"ReplaceText","comments":"","position":{"x":-120.0,"y":-360.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"resourceType\": \"Observation\",\n  \"status\": \"final\",\n  \"code\": { \"text\": \"Observação clínica\" },\n  \"subject\": { \"reference\": \"${subject_ref}\" },\n  \"note\": [ { \"text\": \"${observacao}\" } ]\n}\n","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"},{"identifier":"bf1917d6-e776-3943-be7b-6906de052ca1","instanceIdentifier":"701d1387-019a-1000-d073-520243f25395","name":"InvokeHTTP","comments":"","position":{"x":-120.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://hapi:8080/fhir/Observation","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/fhir+json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"true"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"}],"inputPorts":[{"identifier":"533a9c0d-95bd-3035-ae2f-062c591c7815","instanceIdentifier":"734ae9d4-019a-1000-d9dc-31fa5b9ab970","name":"in_observation","position":{"x":-648.0,"y":-752.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"}],"outputPorts":[{"identifier":"0c2066ae-fdd6-37aa-8f9f-0970ccf8f95d","instanceIdentifier":"734bfdef-019a-1000-1fdc-05a5c73427b8","name":"done_observation","position":{"x":-648.0,"y":-112.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"}],"connections":[{"identifier":"a98ef4c3-ad20-3d87-8823-4f0488740b50","instanceIdentifier":"734c2ac7-019a-1000-9ad7-494b61431e18","name":"","source":{"id":"bf1917d6-e776-3943-be7b-6906de052ca1","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"InvokeHTTP","comments":"","instanceIdentifier":"701d1387-019a-1000-d073-520243f25395"},"destination":{"id":"0c2066ae-fdd6-37aa-8f9f-0970ccf8f95d","type":"OUTPUT_PORT","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"done_observation","instanceIdentifier":"734bfdef-019a-1000-1fdc-05a5c73427b8"},"labelIndex":0,"zIndex":35,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"},{"identifier":"20b5ab18-932f-36e0-a5c6-744197ba6d55","instanceIdentifier":"734aface-019a-1000-6ecf-4afed0aa918a","name":"","source":{"id":"533a9c0d-95bd-3035-ae2f-062c591c7815","type":"INPUT_PORT","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"in_observation","instanceIdentifier":"734ae9d4-019a-1000-d9dc-31fa5b9ab970"},"destination":{"id":"39a91f47-126d-3604-9106-ac9ea089f623","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"UpdateAttribute","comments":"","instanceIdentifier":"70c6b3f2-019a-1000-79dc-0a0bf8c5fc5f"},"labelIndex":0,"zIndex":34,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"},{"identifier":"ab73bb74-ae3e-33c1-9f97-95f5ad59cef1","instanceIdentifier":"70c0ad59-019a-1000-6fea-16152a2cbf20","name":"","source":{"id":"4172c5f2-7db5-3fec-a180-792912d76487","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"ReplaceText","comments":"","instanceIdentifier":"7017be6c-019a-1000-9111-536a0f97670c"},"destination":{"id":"bf1917d6-e776-3943-be7b-6906de052ca1","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"InvokeHTTP","comments":"","instanceIdentifier":"701d1387-019a-1000-d073-520243f25395"},"labelIndex":0,"zIndex":24,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"},{"identifier":"c4802a05-8e27-37ab-8724-bb21b54442c9","instanceIdentifier":"70c70c40-019a-1000-bb33-5178c6231dd9","name":"","source":{"id":"39a91f47-126d-3604-9106-ac9ea089f623","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"UpdateAttribute","comments":"","instanceIdentifier":"70c6b3f2-019a-1000-79dc-0a0bf8c5fc5f"},"destination":{"id":"3a89c0c9-62b1-34e0-acd0-89595fa263f2","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"RouteOnAttribute","comments":"","instanceIdentifier":"70155633-019a-1000-b781-db7e44b83ed2"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"},{"identifier":"057724a6-411d-3860-8741-5f5d7c518846","instanceIdentifier":"7017dedd-019a-1000-f18d-253225b4824a","name":"","source":{"id":"3a89c0c9-62b1-34e0-acd0-89595fa263f2","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"RouteOnAttribute","comments":"","instanceIdentifier":"70155633-019a-1000-b781-db7e44b83ed2"},"destination":{"id":"4172c5f2-7db5-3fec-a180-792912d76487","type":"PROCESSOR","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"ReplaceText","comments":"","instanceIdentifier":"7017be6c-019a-1000-9111-536a0f97670c"},"labelIndex":0,"zIndex":15,"selectedRelationships":["has_obs"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0e374df2-e24f-3647-a408-11425c581580"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"}],"remoteProcessGroups":[],"processors":[{"identifier":"8e24f96a-b1da-3d22-9056-ff8f3c840397","instanceIdentifier":"6fd32de2-019a-1000-0430-5c0bf9c1137a","name":"UpdateAttribute","comments":"","position":{"x":0.0,"y":416.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"id_system":"urn:oid:2.16.76.1.4.3.2","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","cpf_norm":"${cpf:replaceAll('[^0-9]','')}","birth_iso":"${data_nascimento:toDate(\"dd/MM/yyyy\"):format(\"yyyy-MM-dd\")}","gender_fhir":"${genero:toLower():trim():equals('masculino'):ifElse('male',${genero:toLower():trim():equals('feminino'):ifElse('female','unknown')})}","phone_norm":"${telefone:replaceAll('[^0-9+]','')}","Stateful Variables Initial Value":null},"propertyDescriptors":{"id_system":{"name":"id_system","displayName":"id_system","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cpf_norm":{"name":"cpf_norm","displayName":"cpf_norm","identifiesControllerService":false,"sensitive":false,"dynamic":true},"birth_iso":{"name":"birth_iso","displayName":"birth_iso","identifiesControllerService":false,"sensitive":false,"dynamic":true},"gender_fhir":{"name":"gender_fhir","displayName":"gender_fhir","identifiesControllerService":false,"sensitive":false,"dynamic":true},"phone_norm":{"name":"phone_norm","displayName":"phone_norm","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"17e7fb97-edab-3027-bcc9-e705b7389a2c","instanceIdentifier":"6f8eb38a-019a-1000-6540-81b50260c409","name":"ListFile","comments":"","position":{"x":0.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"false","File Filter":"^patients\\.csv$","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/data","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"aff7eff8-2839-30cc-a628-d191da91281f","instanceIdentifier":"7327e355-019a-1000-1643-ba865c862e7d","name":"ExtractText","comments":"","position":{"x":680.0,"y":392.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","patient_id":"\"id\"\\s*:\\s*\"([0-9]+)\"","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"patient_id":{"name":"patient_id","displayName":"patient_id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"77b64eb4-8e81-3cbf-8853-b5aa1bef2678","instanceIdentifier":"6f25c482-019a-1000-bbb0-d8beae3e91a9","name":"EvaluateJsonPath","comments":"","position":{"x":0.0,"y":192.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Destination":"flowfile-attribute","observacao":"$['Observação']","telefone":"$['Telefone']","Max String Length":"20 MB","data_nascimento":"$['Data de Nascimento']","pais_nascimento":"$['País de Nascimento']","Return Type":"auto-detect","genero":"$['Gênero']","cpf":"$['CPF']","Null Value Representation":"empty string","nome":"$['Nome']","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"observacao":{"name":"observacao","displayName":"observacao","identifiesControllerService":false,"sensitive":false,"dynamic":true},"telefone":{"name":"telefone","displayName":"telefone","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"data_nascimento":{"name":"data_nascimento","displayName":"data_nascimento","identifiesControllerService":false,"sensitive":false,"dynamic":true},"pais_nascimento":{"name":"pais_nascimento","displayName":"pais_nascimento","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"genero":{"name":"genero","displayName":"genero","identifiesControllerService":false,"sensitive":false,"dynamic":true},"cpf":{"name":"cpf","displayName":"cpf","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"nome":{"name":"nome","displayName":"nome","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"6e8f3c73-1704-3b15-a651-d489c0416c77","instanceIdentifier":"6fd47e47-019a-1000-8451-d382708e8f93","name":"ReplaceText","comments":"","position":{"x":0.0,"y":640.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"resourceType\": \"Patient\",\n  \"meta\": { \"profile\": [\"https://simplifier.net/redenacionaldedadosemsaude/brindividuo\"] },\n  \"identifier\": [\n    { \"system\": \"urn:oid:2.16.76.1.4.3.2\", \"value\": \"${cpf_norm}\" }\n  ],\n  \"name\": [\n    { \"use\": \"official\", \"text\": \"${nome}\" }\n  ],\n  \"gender\": \"${gender_fhir}\",\n  \"birthDate\": \"${birth_iso}\",\n  \"telecom\": [\n    { \"system\": \"phone\", \"value\": \"${phone_norm}\", \"use\": \"mobile\" }\n  ],\n  \"address\": [\n    { \"country\": \"${pais_nascimento}\" }\n  ]\n}\n","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"e5df3f4c-a32d-3631-b285-e5007a8e77ec","instanceIdentifier":"6f24cd72-019a-1000-8f81-231184add06a","name":"SplitRecord","comments":"","position":{"x":0.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Record Writer":"bcd0c40e-09e9-3694-bb85-90c4bb00c325","Record Reader":"522633a7-4ff2-3a44-a8ae-d7ffff7ffd7b","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"4926a706-8c82-3156-a367-f7e82ff024d4","instanceIdentifier":"6f8f1bb6-019a-1000-f5b3-f843db697a7c","name":"FetchFile","comments":"","position":{"x":0.0,"y":-312.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"1fdba20f-e09d-33d4-9cd0-1de8d8870a48","instanceIdentifier":"6fd4d710-019a-1000-dc16-44ab3d5edfd2","name":"InvokeHTTP","comments":"","position":{"x":680.0,"y":640.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://hapi:8080/fhir/Patient","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Accept":"application/fhir+json","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"true","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/fhir+json","If-None-Exist":"identifier=urn:oid:2.16.76.1.4.3.2|${cpf_norm}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"If-None-Exist":{"name":"If-None-Exist","displayName":"If-None-Exist","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8f7d8814-2bc1-3732-aac1-7cce46df2306","instanceIdentifier":"6f9d0b58-019a-1000-9298-eec8d4b404ab","name":"","source":{"id":"4926a706-8c82-3156-a367-f7e82ff024d4","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"FetchFile","comments":"","instanceIdentifier":"6f8f1bb6-019a-1000-f5b3-f843db697a7c"},"destination":{"id":"e5df3f4c-a32d-3631-b285-e5007a8e77ec","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"SplitRecord","comments":"","instanceIdentifier":"6f24cd72-019a-1000-8f81-231184add06a"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"102454e4-4485-3cb4-b066-6ff7e6c38993","instanceIdentifier":"70506203-019a-1000-db47-410e2d96fce0","name":"","source":{"id":"8e24f96a-b1da-3d22-9056-ff8f3c840397","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"UpdateAttribute","comments":"","instanceIdentifier":"6fd32de2-019a-1000-0430-5c0bf9c1137a"},"destination":{"id":"6e8f3c73-1704-3b15-a651-d489c0416c77","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"ReplaceText","comments":"","instanceIdentifier":"6fd47e47-019a-1000-8451-d382708e8f93"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"5da89e22-4696-3d05-9667-2fa64bde640f","instanceIdentifier":"6f8f3272-019a-1000-0530-663984210c37","name":"","source":{"id":"17e7fb97-edab-3027-bcc9-e705b7389a2c","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"ListFile","comments":"","instanceIdentifier":"6f8eb38a-019a-1000-6540-81b50260c409"},"destination":{"id":"4926a706-8c82-3156-a367-f7e82ff024d4","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"FetchFile","comments":"","instanceIdentifier":"6f8f1bb6-019a-1000-f5b3-f843db697a7c"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"991ae9a5-6ef2-3844-bce1-411213a460b9","instanceIdentifier":"734d74a5-019a-1000-42b9-d4df0c520d7a","name":"","source":{"id":"0c2066ae-fdd6-37aa-8f9f-0970ccf8f95d","type":"OUTPUT_PORT","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"done_observation","instanceIdentifier":"734bfdef-019a-1000-1fdc-05a5c73427b8"},"destination":{"id":"1ef07811-42fe-3f89-ad92-a07a2c76353b","type":"FUNNEL","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"Funnel","comments":"","instanceIdentifier":"734d59db-019a-1000-3a9a-474c838393ad"},"labelIndex":0,"zIndex":33,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"08e57c7c-7a22-3349-ba69-4c00c7ee1a85","instanceIdentifier":"73523227-019a-1000-1e23-5933a6a39031","name":"","source":{"id":"1fdba20f-e09d-33d4-9cd0-1de8d8870a48","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"InvokeHTTP","comments":"","instanceIdentifier":"6fd4d710-019a-1000-dc16-44ab3d5edfd2"},"destination":{"id":"b12b088a-d0ee-3a1b-89d6-28a6280abbb3","type":"FUNNEL","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"Funnel","comments":"","instanceIdentifier":"73520c94-019a-1000-2fef-a5dec6889e00"},"labelIndex":0,"zIndex":34,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"91cb3970-316c-3ab4-a6c1-f55f2f4fb84d","instanceIdentifier":"6fd36370-019a-1000-fd10-eec880e6c43f","name":"","source":{"id":"77b64eb4-8e81-3cbf-8853-b5aa1bef2678","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6f25c482-019a-1000-bbb0-d8beae3e91a9"},"destination":{"id":"8e24f96a-b1da-3d22-9056-ff8f3c840397","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"UpdateAttribute","comments":"","instanceIdentifier":"6fd32de2-019a-1000-0430-5c0bf9c1137a"},"labelIndex":0,"zIndex":9,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"b65f0486-7ab3-3fcf-a4c7-ade0c879609c","instanceIdentifier":"7353e5a5-019a-1000-211b-ad0a59c8054d","name":"done-patient","source":{"id":"b12b088a-d0ee-3a1b-89d6-28a6280abbb3","type":"FUNNEL","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"Funnel","comments":"","instanceIdentifier":"73520c94-019a-1000-2fef-a5dec6889e00"},"destination":{"id":"29ab9897-dc5f-3028-90c2-c1a9cf882697","type":"FUNNEL","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"Funnel","comments":"","instanceIdentifier":"7352ed13-019a-1000-0315-a72cabfc69a9"},"labelIndex":0,"zIndex":36,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"0547e03a-be61-3fd1-a2ac-b1381833173d","instanceIdentifier":"73537ff8-019a-1000-37aa-7d09de0b5c00","name":"done-observation","source":{"id":"1ef07811-42fe-3f89-ad92-a07a2c76353b","type":"FUNNEL","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"Funnel","comments":"","instanceIdentifier":"734d59db-019a-1000-3a9a-474c838393ad"},"destination":{"id":"29ab9897-dc5f-3028-90c2-c1a9cf882697","type":"FUNNEL","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"Funnel","comments":"","instanceIdentifier":"7352ed13-019a-1000-0315-a72cabfc69a9"},"labelIndex":0,"zIndex":35,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"5e7e13f9-993b-3a1e-bab7-f90da4b68240","instanceIdentifier":"70c7957b-019a-1000-ac67-93b3ad4488c3","name":"","source":{"id":"6e8f3c73-1704-3b15-a651-d489c0416c77","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"ReplaceText","comments":"","instanceIdentifier":"6fd47e47-019a-1000-8451-d382708e8f93"},"destination":{"id":"1fdba20f-e09d-33d4-9cd0-1de8d8870a48","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"InvokeHTTP","comments":"","instanceIdentifier":"6fd4d710-019a-1000-dc16-44ab3d5edfd2"},"labelIndex":0,"zIndex":27,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"5a1875a1-3246-3f42-9aef-a70a9e002f79","instanceIdentifier":"734cf617-019a-1000-1ace-0297e7afcb69","name":"","source":{"id":"aff7eff8-2839-30cc-a628-d191da91281f","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"ExtractText","comments":"","instanceIdentifier":"7327e355-019a-1000-1643-ba865c862e7d"},"destination":{"id":"533a9c0d-95bd-3035-ae2f-062c591c7815","type":"INPUT_PORT","groupId":"0e374df2-e24f-3647-a408-11425c581580","name":"in_observation","instanceIdentifier":"734ae9d4-019a-1000-d9dc-31fa5b9ab970"},"labelIndex":0,"zIndex":32,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"252bac65-018f-35ff-829a-070aad6ae0d2","instanceIdentifier":"7328d6ca-019a-1000-9273-79b99ecd352e","name":"","source":{"id":"1fdba20f-e09d-33d4-9cd0-1de8d8870a48","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"InvokeHTTP","comments":"","instanceIdentifier":"6fd4d710-019a-1000-dc16-44ab3d5edfd2"},"destination":{"id":"aff7eff8-2839-30cc-a628-d191da91281f","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"ExtractText","comments":"","instanceIdentifier":"7327e355-019a-1000-1643-ba865c862e7d"},"labelIndex":0,"zIndex":31,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"ac9381f1-c154-3d25-89ac-5887de870a5c","instanceIdentifier":"6f25e646-019a-1000-84b0-6a37adb6d417","name":"","source":{"id":"e5df3f4c-a32d-3631-b285-e5007a8e77ec","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"SplitRecord","comments":"","instanceIdentifier":"6f24cd72-019a-1000-8f81-231184add06a"},"destination":{"id":"77b64eb4-8e81-3cbf-8853-b5aa1bef2678","type":"PROCESSOR","groupId":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"6f25c482-019a-1000-bbb0-d8beae3e91a9"},"labelIndex":0,"zIndex":2,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"}],"labels":[],"funnels":[{"identifier":"b12b088a-d0ee-3a1b-89d6-28a6280abbb3","instanceIdentifier":"73520c94-019a-1000-2fef-a5dec6889e00","position":{"x":1336.0,"y":680.0},"componentType":"FUNNEL","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"29ab9897-dc5f-3028-90c2-c1a9cf882697","instanceIdentifier":"7352ed13-019a-1000-0315-a72cabfc69a9","position":{"x":1336.0,"y":-176.0},"componentType":"FUNNEL","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"},{"identifier":"1ef07811-42fe-3f89-ad92-a07a2c76353b","instanceIdentifier":"734d59db-019a-1000-3a9a-474c838393ad","position":{"x":824.0,"y":-176.0},"componentType":"FUNNEL","groupIdentifier":"8eb5c228-f9e1-3a40-917c-9d75efba6bc8"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"bcd0c40e-09e9-3694-bb85-90c4bb00c325":{"identifier":"bcd0c40e-09e9-3694-bb85-90c4bb00c325","name":"JsonRecordSetWriter"},"522633a7-4ff2-3a44-a8ae-d7ffff7ffd7b":{"identifier":"522633a7-4ff2-3a44-a8ae-d7ffff7ffd7b","name":"CSVReader"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}